This is the second level

testing second level
test jerkje {{item.hostname}}
anotehr line 
ip addreswses {{item.mgmt_device}}.7 2552.55.255.252
testing
adding another {{item.test}} variable
end
test

//Testing 
dfdf
// testeing

{{item.test}}

dfdjfakjd djfa 
dkfja 