This is the second level

testing second level
test jerkje {{item.hostname}}
anotehr line 
ip addreswses {{item.mgmt_device}}.7 2552.55.255.252
testing
adding another {{item.test}} variable
end
test
if in elif endif for endfor {{ endfor }}
//Testing 
dfdf
// testeing if 

xcxc
/* tere */
{{item.test}}
{{
dfdjfakjd djfa 
dkfja inter in 
{{% for in 

true 
True 
raw
endraw 
{% if {{item.test}} and %} 